/*Null Style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-tex-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

main {
  background-color: #e6dfdf;
}

.nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #800000;
  background-image: linear-gradient(to right, #510707 0%, #9D0004 100%);
}

.nav-list {
  display: flex;
  align-items: center;
  height: 7vh;
  margin-right: 1rem;
}
.nav-list li {
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
}
.nav-list li a {
  padding: 2vh 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  margin-right: 3rem;
  transition: 1s;
  color: white;
}
.nav-list:hover li a {
  filter: blur(2px);
}
.nav-list:hover li a:hover {
  filter: blur(0px);
  color: #FF7100;
  margin-top: 1rem;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1F716E;
  background: url("../IMG/rug.jpg") 50%/100% 100% no-repeat;
}
#welcome-section .invisible_top {
  width: 3px;
  height: 10px;
}
#welcome-section h1 {
  font-size: 6vw;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #131115;
}
#welcome-section p {
  color: #510707;
  font-size: 3.5vw;
  font-weight: 300;
  font-style: italic;
  line-height: 10vw;
}

#projects_link {
  width: 10px;
  height: 1px;
  border: 1px solid #000;
  margin-bottom: 7vh;
  visibility: hidden;
}

#projects {
  width: 100%;
  height: 100vh;
  background: url(../IMG/rug.jpg) 50%/100% 100% no-repeat;
}
#projects header {
  text-align: center;
  font-size: 5vw;
  font-weight: 600;
  padding: 6rem 0;
  font-family: "Raleway", sans-serif;
  color: #131115;
  text-shadow: 1px 1px 1px gray;
}

.container_back {
  background: url("../IMG/task_board.jpg") 50%/100% 100% no-repeat;
  display: flex;
  flex-direction: column;
  border: 15px ridge #e8d2d2;
}

.projects_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(80px, 1fr));
  grid-gap: 30px 0;
  justify-items: center;
  padding-bottom: 50px;
}
.projects_container a img {
  border: 3px solid #e3baba;
  box-shadow: 3px 3px 20px 0px #0f0f0f;
  width: 42vw;
}
.projects_container a p {
  display: block;
  font-size: 2.5vw;
  line-height: 3vw;
  text-align: center;
  color: black;
  padding: 15px;
  width: auto;
}
.projects_container a p span {
  padding: 3px;
}

.pin {
  width: 25px;
  height: 25px;
  background: url("../IMG/pin.png") 50%/100% 100% no-repeat;
  position: absolute;
  margin: 0 0 0 60px;
  z-index: 1;
}

.contact-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("../IMG/possibilities.jpg") 50%/100% 100% no-repeat;
}

.contact-section-header {
  flex: 1;
  height: 50vh;
  text-align: center;
  font-size: 5vw;
  text-shadow: 1px 1px 1px #9D0004;
  line-height: 6vw;
  padding-top: 25vh;
  font-family: "Raleway", sans-serif;
  color: #fff;
}
.contact-section-header h2 {
  font-size: 6vw;
  margin-bottom: 1vw;
}

.contact_container {
  flex: 1;
  width: 100vw;
  height: 50vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.contact-details {
  color: #fff;
  text-shadow: 1px 1px 1px #9D0004;
  font-size: 3.5vw;
  line-height: 3vh;
  margin-bottom: 3vw;
  text-align: center;
}

#linkedIn {
  font-size: 2.5rem;
  margin-right: 25%;
}

#gitHub {
  font-size: 2.5rem;
  margin-left: 40%;
}

#Email {
  font-size: 3rem;
  margin-right: 55%;
}

#phone {
  font-size: 3.5rem;
  margin-left: 55%;
}

@media (min-width: 1280px) {
  .contact-section-header {
    padding-top: 15vh;
  }

  #linkedIn {
    margin-right: 12%;
    font-size: 2rem;
  }

  #gitHub {
    margin-left: 20%;
  }

  #Email {
    margin-right: 35%;
  }

  #phone {
    margin-left: 35%;
  }
}
@media (max-width: 440px) {
  .nav-list li a {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  #projects header {
    padding: 4rem 0 2rem 0;
  }
  #projects .pin {
    width: 15px;
    height: 15px;
    margin-left: 30px;
  }
}
